<ol class="breadcrumb">
	<li><a href="#/">Admin</a></li>
	<li class="active">Users</li>
</ol>

<!-- <a href="" ng:click="getUsers()"><span class="glyphicon glyphicon-refresh"></span></a> -->

<p class="help-block pull-left">Showing {{users.list.length}} of {{users.meta.total_count}}</p>
<div class="pull-right">
	<a href="" ng:click="getUsers()"><span class="glyphicon glyphicon-refresh"></span></a>
</div>
<table class="users-table table table-bordered table-condensed table-striped table-hover">
	<tr>
		<td width="60">
			<input type="text" class="form-control input-sm" placeholder="ID" ng:model="search.ids" onstop="searchUsers()" />
		</td>
		<td align="center">
			<select class="form-control input-sm" ng:model="search.access" ng:change="searchUsers()">
				<option value="">All</option>
				<option value="0">End-User</option>
				<option value="1">Admin</option>
			</select>
		</td>
		<td colspan="1">
			<input type="text" class="form-control input-sm" placeholder="Name" ng:model="search.name" onstop="searchUsers()" />
		</td>
		<td colspan="1">
			<input type="text" class="form-control input-sm" placeholder="Email" ng:model="search.email" onstop="searchUsers()" />
		</td>
		<td colspan="3">
			<select class="form-control input-sm" ng:model="search.limit" ng:change="getUsers()">
				<option value="10">Show: 10</option>
				<option value="20">Show: 20</option>
				<option value="50">Show: 50</option>
				<option value="100">Show: 100</option>
			</select>
		</td>
	</tr>
	<tr>
		<th align="center">
			<div align="center">
				ID
			</div>
		</th>
		<th>
			<div align="center">
				Access
			</div>
		</th>
		<th>
			Name
		</th>
		<th>Email</th>
		<th>City</th>
		<th>State</th>
		<th><div align="center">FL</div></th>
	</tr>
	<tr ng:if="users.list.length == 0">
		<td colspan="7">
			No results found.
		</td>
	</tr>
	<tr class="" ng:repeat="user in users.list" ng:class="{'success':current_user.id==user.id}">
		<td align="center">
			<span>{{user.id}}</span>
		</td>
		<td align="center">
			<select class="btn" ng:class="{'btn-success':user.access>0,'btn-danger':user.access==0}" ng:model="user.access" ng:change="user.update('access',user.access)">
				<option value="0">End-User</option>
				<option value="1">Admin</option>
			</select>
		</td>
		<td>
			<a href="/#/people/{{user.id}}" target="_blank">{{user.name}}</a>
		</td>
		<td>{{user.email}}</td>
		<td>{{user.city}}</td>
		<td>{{user.state}}</td>
		<td align="center">
			<input type="checkbox" ng:model="user.floating" disabled="disabled" />
		</td>
	</tr>
	<tr ng:if="users.list.length > 0 && users.meta.next_page">
		<td colspan="7">
			<button class="btn btn-default btn-block" ng:click="users.nextPage()">
				<span ng:if="!users.loading.get">Load More</span>
				<%= image_tag 'icon-loading.gif','ng:if' => 'users.loading.get' %>
			</button>

			<alert type="success" ng:if="users.meta.current_page == users.meta.total_pages && !users.loading.get && users.meta.total_pages > 1">All items have been loaded.</alert>
		</td>
	</tr>
</table>
<p class="help-block pull-left">Showing {{users.list.length}} of {{users.meta.total_count}}</p>
<div class="pull-right">
	<a href="" ng:click="getUsers()"><span class="glyphicon glyphicon-refresh"></span></a>
</div>