<ol class="breadcrumb">
	<li><a href="#/">Home</a></li>
	<li><a href="#/people">People</a></li>
	<li class="active">{{user.name}}</li>
</ol>

<a href="#/people/{{user.id}}/edit" class="btn btn-danger" ng:if="user.author_id == current_user.id && user.floating">
	<span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;Edit
</a>

<table class="myaccount-table">
	<tr>
		<th><h3>Profile Picture</h3></th>
		<th><h3>Personal Information</h3></th>
	</tr>
	<tr>
		<td>

			<img ng:src="{{user.image.image.url}}" />

		</td>
		<td class="person-info">

			<div class="person-item person-name">
				<span class="name">{{user.name}}</span>
				<!-- <span class="age" ng:if="user.birth_year">{{date.getFullYear() - user.birth_year}}</span> -->
			</div>
			<div class="person-item person-location">
				<span class="city" ng:if="user.city">{{user.city}}</span><span class="state" ng:if="user.state"><span ng:if="user.city">,&nbsp;</span>{{user.state}}</span>
			</div>

			<div class="person-social"><h3>Social Accounts</h3></div>

			<span ng:init="socials.get({user_id: params.id})"></span>

			<div class="person-social-account" ng:repeat="social in socials.list">
				<div class="item">
					<img ng:src="/images/{{simage(social.uri)}}" width="29" />
				</div>
				<div class="item">
					<a href="{{social.uri}}" target="_blank">{{social.uri}}</a>
				</div>
			</div>

		</td>
	</tr>
	<tr>
		<th colspan="2"><h3>Chimes</h3></th>
	</tr>
	<tr>
		<td colspan="2">

			<a href="" ng:click="openChime()">+ Add Chime</a>

			<span ng:init="chimes.get({user_id: params.id,order: '-id'})"></span>

			<div class="chime-container" ng:repeat="chime in chimes.list">

				<!-- <div><span class="glyphicons glyphicons-edit">&#xe151</span></div> -->
				<div class="chime-edit" ng:if="chime.author.id == current_user.id">
					<a class="edit" href="" ng:click="openChime(chime)">
						<span class="glyphicon glyphicon-edit"></span>&nbsp;Edit
					</a>
					<a class="delete" href="" ng:click="deleteChime(chime)">
						<span class="glyphicon glyphicon-remove-circle"></span>
					</a>
					<div class="CLEAR"></div>
				</div>

				<rating ng-model="chime.rating" max="max" readonly="true"></rating>

				<div class="chime-name">
					{{chime.author.name}}<span ng:if="chime.author.city">&nbsp;|&nbsp;{{chime.author.city}}</span><span ng:if="chime.author.state"><span ng:if="chime.author.city">,&nbsp;</span>{{chime.author.state}}</span>
				</div>

				<div class="chime-body" ng-bind-html="chime.body_html"></div>

				<div class="chime-flag" collapse="flag_col[chime.id]">

					<a href="" class="flag" ng:click="flag(chime)"><span class="glyphicon glyphicon-flag"></span>&nbsp;&nbsp;Spam or Innappropriate</a>

				</div>

			</div>

		</td>
	</tr>
</table>