<ol class="breadcrumb">
	<li><a href="#/">Home</a></li>
	<li class="active">Find People</li>
</ol>

<alert type="warning" collapse="new_col">No results found. <a href="" ng:click="createPerson()">Click here to create this person</a>.</alert>

<div class="well">

	<div class="form-group">
		<input type="text" class="form-control" ng:model="search.name" placeholder="Name" onenter="searchUsers()" ng:change="$parent.new_col = true" />
		<p class="help-block">Search by First or Last Name</p>
	</div>

	<div class="form-group">
		<input type="text" class="form-control" ng:model="search.social" placeholder="Social Account" onenter="searchUsers()" ng:change="$parent.new_col = true" />
		<p class="help-block">Search by a Twitter handle, Instagram username, Facebook page...</p>
	</div>

	<div class="form-group">
		<input type="text" class="form-control" ng:model="search.email" placeholder="Email" onenter="searchUsers()" ng:change="$parent.new_col = true" />
	</div>

	<div class="form-group">
		<input type="text" class="form-control" ng:model="search.phone" placeholder="Phone Number" onenter="searchUsers()" ng:change="$parent.new_col = true" />
	</div>

	<div class="form-group">
		<input type="text" class="form-control" ng:model="search.address" placeholder="Address" onenter="searchUsers()" ng:change="$parent.new_col = true" />
	</div>

	<div class="form-group">
		<input type="text" class="form-control" ng:model="search.city" placeholder="City" onenter="searchUsers()" ng:change="$parent.new_col = true" />
	</div>

	<div class="form-group">
		<input type="text" class="form-control" ng:model="search.state" placeholder="State / Province" onenter="searchUsers()" ng:change="$parent.new_col = true" />
	</div>

	<div class="form-group">
		<input type="text" class="form-control" ng:model="search.zip_code" placeholder="ZIP / Postal Code" onenter="searchUsers()" ng:change="$parent.new_col = true" />
	</div>

	<div align="center"><button class="btn btn-default btn-lg" ng:click="searchUsers()">Search</button></div>

</div>

<a href="#/people/{{user.id}}" class="search-person" ng:repeat="user in users.list | orderBy:'-id'">

	<div align="center" class="search-person-image" ng:if="user.image.image.url"><img ng:src="{{user.image.image.url}}" /></div>

	<div class="search-person-header" ng:if="user.name">{{user.name}}</div>
	<div class="search-person-sub" ng:if="user.city">City:&nbsp;&nbsp;{{user.city}}</div>
	<div class="search-person-sub" ng:if="user.state">State:&nbsp;&nbsp;{{user.state}}</div>
	<div class="search-person-sub" ng:if="user.gender">Gender:&nbsp;&nbsp;{{user.gender}}</div>

</a>
<div class="CLEAR"></div>